<Layouts.app flash={@flash}>
  <h1>Test</h1>
  <p>My app</p>

  <canvas
    id="myCanvas"
    width="400"
    height="300"
    style="border: 1px solid #ccc;"
    phx-update="ignore"
  >
    Your browser does not support the HTML5 canvas tag.
  </canvas>
</Layouts.app>
